.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
.idea/
*.iml
.DS_Store
android/.gradle/
android/captures/
android/local.properties
android/key.properties
*.jks
*.keystore
*.log
!docs/*.log

